
<!-- DATOS PRINCIPALES DEL CLIENTE EN CABEZA -->
<h5 class="quitarMargenes tAC">{{datosPrincipalesCliente.alias}}</h5>
<hr class="quitarMargenes">
<h6 class="quitarMargenes tAC">{{datosPrincipalesCliente.cuit}}</h6>


<!-- COPIAR CUIT Y CONTRASEÑAS -->

<hr class="quitarMargenes">

<div class="centrar">
    <button *ngFor="let botonCopiar of botonesCopiar" (click)="copiarAlPortapapeles(botonCopiar.click)" (dblclick)="copiarAlPortapapeles(botonCopiar.dblclick)" pButton type="button" label={{botonCopiar.alias}} class="miniBoton p-button-{{botonCopiar.color}}"></button>
</div>

<textarea id="observacionesCliente" pInputTextarea [autoResize]="true" [(ngModel)]="datosPrincipalesCliente.observacionesDetalle"></textarea>

<hr class="quitarMargenes">

<br>
<div class="centrar">
    <p-calendar [(ngModel)]="datosLiquidacion.fecha" dateFormat="dd/mm/y"></p-calendar>
</div>
<br>

<p-accordion [multiple]="false">

    <p-accordionTab header="Datos Monotributo" [selected]="false">
        <div class="row">
            <div class="col">
              -Categoria:
            </div>
            <div class="col">
              <b>{{datosLiquidacion.monotributo.categoria}}</b>
            </div>
        </div>
        <div class="row" (click)="copiarAlPortapapeles('CUR')">
            <div class="col">
              -CUR:
            </div>
            <div class="col">
              <b>{{datosLiquidacion.monotributo.cur}}</b>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
              -Impuesto:
            </div>
            <div class="col">
              {{formatoMoneda(datosLiquidacion.monotributo.impuesto)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
              -SIPA:
            </div>
            <div class="col">
                {{formatoMoneda(datosLiquidacion.monotributo.sipa)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
              -O. Social: ({{datosLiquidacion.monotributo.adherentes}})
            </div>
            <div class="col">
                {{formatoMoneda(datosLiquidacion.monotributo.obraSocial)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
              TOTAL
            </div>
            <div class="col">
              <b>{{formatoMoneda(datosLiquidacion.monotributo.total)}}</b>
            </div>
        </div>
        <br>
        <div class="centrar">
            <button pButton type="button" label="EDITAR" class="p-button-warning p-button-sm"></button>
        </div>
    </p-accordionTab>
    <p-accordionTab header="Facturacion" [selected]="false">
        <div class="row" *ngFor="let actividad of datosLiquidacion.actividades">
            <div class="col" title="{{actividad.descripcion + ' - (' + actividad.codigo + ')'}}">
              -{{actividad.alias}}
            </div>
            <div class="col">
                <p-inputNumber (ngModelChange)="calcularFacturacionTotal()" [(ngModel)]="actividad.monto" inputId="currency-us" mode="currency" currency="ARS" locale="es-AR">
                </p-inputNumber>
            </div>
        </div>

        <div class="row">
            <div class="col">
              <b>-TOTAL:</b>
            </div>
            <div class="col">
                <p-inputNumber [(ngModel)]="datosLiquidacion.facturacion" inputId="currency-us" mode="currency" currency="ARS" locale="es-AR">
                </p-inputNumber>
            </div>
        </div>

        <hr>
        <p style="color: rgb(119, 119, 119);">Periodo anterior:</p>

        <div class="row" *ngFor="let actividad of datosLiquidacionAnterior.actividades">
          <div class="col" title="{{actividad.descripcion + ' - (' + actividad.codigo + ')'}}">
            -{{actividad.alias}}
          </div>
          <div class="col">
            {{formatoMoneda(actividad.monto)}}
          </div>
        </div>
        <div class="row">
            <div class="col">
              <b>-TOTAL:</b>
            </div>
            <div class="col">
              <b>{{formatoMoneda(datosLiquidacionAnterior.facturacion)}}</b>
            </div>
          </div>
    </p-accordionTab>
    <p-accordionTab header="Retenciones" [selected]="true">
            <div>
                <h6><b>SIRCREB: $5.55</b></h6>
                <div class="row renglonRet">
                    <div class="col">
                        BNA
                    </div>
                    <div class="col">
                        <input type="number" style="width: 100px; height: 20px;">
                    </div>
                    <div class="col" style="color: rgba(104, 104, 104, 0.836); font-size: medium;">
                        $500.00
                        <i (click)="agregarRet()" class="pi pi-trash botonRetencion" style="color: rgba(211, 17, 17, 0.87);"></i>
                        <i (click)="agregarRet()" class="pi pi-pencil botonRetencion"></i>
                    </div>
                </div>
                <div class="row renglonRet">
                    <div class="col">
                        NBCH
                    </div>
                    <div class="col">
                        <input type="number" style="width: 100px; height: 20px;">
                    </div>
                    <div class="col" style="color: rgba(104, 104, 104, 0.836); font-size: medium;">
                        $500.00
                        <i (click)="agregarRet()" class="pi pi-trash botonRetencion" style="color: rgba(211, 17, 17, 0.87);"></i>
                        <i (click)="agregarRet()" class="pi pi-pencil botonRetencion"></i>
                    </div>
                </div>
                <div class="centrar">
                  <i (click)="showModalDialog()" class="pi pi-plus agregarRetencion"></i>
                </div>
              </div>
              <hr>


        <div class="centrar">
            <button pButton type="button" label="VER ANTERIORES" class="p-button-outlined p-button-secondary"></button>
        </div>
    </p-accordionTab>
    <p-accordionTab header="ATP DDJJ IIBB" [selected]="false">
        <div>
            <h6><b>Monto imponible: $5.55</b></h6>
            <div class="row">
                <div class="col">
                    ACT 1
                </div>
                <div class="col">
                    2000
                </div>
            </div>
            <div class="row">
                <div class="col">
                    ACT 2
                </div>
                <div class="col">
                    2000
                </div>
            </div>
            <div class="row">
                <div class="col">
                    ACT 3
                </div>
                <div class="col">
                    2000
                </div>
            </div>
        </div>
        <hr>
        <div>
            <h6><b>Saldo a favor: $5.55</b></h6>
            <div class="row">
                <div class="col">
                    123.123
                </div>
                <div class="col">
                    202201
                </div>
            </div>
            <div class="row">
                <div class="col">
                    12.31
                </div>
                <div class="col">
                    202201
                </div>
            </div>
        </div>
        <hr>
        <div>
            <h6><b>SIRCREB: $5.55</b></h6>
            <div class="row">
                <div class="col">
                    BNA
                </div>
                <div class="col">
                    2000
                </div>
                <div class="col">
                    202101
                </div>
            </div>
        </div>
        <hr>
        <div>
            <h6><b>TOTALES:</b></h6>
            <div class="row renglonRet">
                <div class="col">
                    SALDO AP/AF
                </div>
                <div class="col">
                    <input value=200.00 type="number" style="width: 100px; height: 20px;">
                </div>
                <div class="col" style="color: rgba(104, 104, 104, 0.836); font-size: medium;">
                    <i class="pi pi-minus botonRetencion" style="color: rgba(211, 17, 17, 0.87);"></i>
                    <i class="pi pi-plus botonRetencion"></i>
                </div>
            </div>
            <div class="row renglonRet">
                <div class="col">
                    10%
                </div>
                <div class="col">
                    <input value=20.00 type="number" style="width: 100px; height: 20px;">
                </div>
                <div class="col" style="color: rgba(104, 104, 104, 0.836); font-size: medium;">
                    <i class="pi pi-minus botonRetencion" style="color: rgba(211, 17, 17, 0.87);"></i>
                    <i class="pi pi-plus botonRetencion"></i>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <b>TOTAL</b>
                </div>
                <div class="col">
                    <b>220.00</b>
                </div>
            </div>
        </div>

    </p-accordionTab>
    <p-accordionTab header="Archivos" [selected]="false">
        <p-fileUpload name="demo" url="http://localhost:3000/subir" (onUpload)="onUpload($event)" [multiple]="false" [auto]="true">
            <ng-template pTemplate="content">
                <h6><b>MONOTRIBUTO VEP:</b></h6>
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                </ul>
            </ng-template>
        </p-fileUpload>
        <br>
        <p-fileUpload name="demo" url="http://localhost:3000/subir" (onUpload)="onUpload($event)" [multiple]="false">
            <ng-template pTemplate="content">
                <h6><b>MONOTRIBUTO CPTE PAGO:</b></h6>
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                </ul>
            </ng-template>
        </p-fileUpload>
        <br>
        <p-fileUpload name="demo" url="http://localhost:3000/subir" (onUpload)="onUpload($event)" [multiple]="false">
            <ng-template pTemplate="content">
                <h6><b>DDJJ IIBB:</b></h6>
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                </ul>
            </ng-template>
        </p-fileUpload>
        <br>
        <p-fileUpload name="demo" url="http://localhost:3000/subir" (onUpload)="onUpload($event)" [multiple]="false">
            <ng-template pTemplate="content">
                <h6><b>DDJJ IIBB ACUSE:</b></h6>
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                </ul>
            </ng-template>
        </p-fileUpload>
    </p-accordionTab>

</p-accordion>

<textarea id="observacionesCliente" pInputTextarea [(ngModel)]="datosPrincipalesCliente.observacionesDetalle"></textarea>

<div class="centrar">
    <button (click)="calcularFacturacionTotal()" pButton type="button" label="VOLVER" class="botonGrande p-button-danger"></button>
    <button pButton type="button" label="GUARDAR" class="botonGrande p-button-info"></button>
    <button pButton type="button" label="DETALLES" class="botonGrande p-button-success"></button>
</div>





<div style="display: none">
    <ul>
        <li><a [routerLink]="['/cargaLiquidacion', 1, 'a']">1a</a></li>
        <li><a [routerLink]="['/cargaLiquidacion', 2, 'b']">2b</a></li>
        <li><a [routerLink]="['/cargaLiquidacion', 3, 'c']">3c</a></li>
    </ul>
    <ul>
        <li><a href="/cargaLiquidacion/1/a">1a</a></li>
        <li><a href="/cargaLiquidacion/2/b">2b</a></li>
        <li><a href="/cargaLiquidacion/3/c">3c</a></li>
    </ul>
    
    <ul>
        <li>
            Cliente: {{idCliente}}
        </li>
        <li>
            Periodo: {{idPeriodo}}
        </li>
    </ul>
</div>





<p-dialog header="Agregar agente retencion" [(visible)]="displayModalRetencion" [modal]="true" [style]="{width: '98%'}" [draggable]="false" [resizable]="false">
    <p-accordion [multiple]="false">
        <p-accordionTab *ngFor="let tipoRetencion of tiposRetenciones" title="{{tipoRetencion.descripcion}}" header="{{tipoRetencion.alias}}" [selected]="false">
    
        </p-accordionTab>
    </p-accordion>

        

    <ng-template pTemplate="footer">
        <p-button (click)="displayModalRetencion=false" label="Cerrar" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>