.quitarMargenes {
    margin: 2px;
}

.tAC {
    text-align: center;
}

.miniBoton {
    margin: 2px 2px;
    padding: 0px 15px;
    font-size: small;
}
.botonGrande {
    margin: 5px;
}

.centrar {
    text-align: center;
}

.agregarRetencion {
    text-align: center;
    font-size: 12px;
    padding: 3px;
    border: solid;
    border-width: 1px;
    border-radius: 6px;
    width: 80%;
    color: rgb(74, 153, 255);
    cursor: pointer;
    margin: 10px;
}

.renglonRet {
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(204, 200, 200);
}
.botonRetencion {
    text-align: center;
    font-size: 12px;
    padding: 2px;
    border: solid;
    border-width: 1px;
    border-radius: 1px;
    width: 20px;
    color: rgb(74, 153, 255);
    cursor: pointer;
}

#observacionesCliente {
    width: 100%;
    resize: vertical;
}
